# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
.vscode/
.cache/

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
_build
dist

# misc
.DS_Store
*.pem
*.tsbuildinfo
packages/storybook/public/tailwind.css

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.logs
database-dump.sql


# local env files
.env.local
.env.*.local

# turbo
.turbo

vite.config.ts.timestamp*
screenshots/
